ManagementWebSite/App_WebReferences/ServiceReference2/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserAccount" nillable="true" type="tns:UserAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserAccount" nillable="true" type="tns:ArrayOfUserAccount" />
  <xs:complexType name="UserAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MobilePhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAccount" nillable="true" type="tns:UserAccount" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ChangePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangePassword" nillable="true" type="tns:ChangePassword" />
  <xs:complexType name="ArrayOfProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductCategory" nillable="true" type="tns:ArrayOfProductCategory" />
  <xs:complexType name="ProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategory" type="xs:int" />
      <xs:element minOccurs="0" name="PromotionPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="GetProductParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="xs:int" />
      <xs:element minOccurs="0" name="CheckInDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckOutDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProductParam" nillable="true" type="tns:GetProductParam" />
  <xs:complexType name="ArrayOfProductDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDetail" nillable="true" type="tns:ProductDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDetail" nillable="true" type="tns:ArrayOfProductDetail" />
  <xs:complexType name="ProductDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="KeyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Product" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedBy" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDetail" nillable="true" type="tns:ProductDetail" />
  <xs:complexType name="TicketOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketOrder" nillable="true" type="tns:TicketOrder" />
  <xs:complexType name="TicketOrderConfirm">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckOutDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketOrderId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketOrderConfirm" nillable="true" type="tns:TicketOrderConfirm" />
  <xs:complexType name="ArrayOfTicketOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketOrder" nillable="true" type="tns:TicketOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketOrder" nillable="true" type="tns:ArrayOfTicketOrder" />
  <xs:complexType name="ArrayOfOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDetail" nillable="true" type="tns:ArrayOfOrderDetail" />
  <xs:complexType name="OrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckOutDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Customer" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Staus" type="xs:int" />
      <xs:element minOccurs="0" name="TicketOrder" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetail" nillable="true" type="tns:OrderDetail" />
  <xs:complexType name="ProductOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckOutDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product" type="xs:long" />
      <xs:element minOccurs="0" name="PromotionPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="TicketOrder" type="xs:long" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductOrder" nillable="true" type="tns:ProductOrder" />
  <xs:complexType name="ArrayOfProductOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductOrder" nillable="true" type="tns:ProductOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductOrder" nillable="true" type="tns:ArrayOfProductOrder" />
  <xs:complexType name="GetProductOrderParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckOutDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProductOrderParam" nillable="true" type="tns:GetProductOrderParam" />
</xs:schema>