ManagementWebSite/App_WebReferences/ServiceReference2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.totiti.net/DigitalRestaurantWcf/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" />
  <xs:element name="GetUserAccount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetUserAccountResult" nillable="true" type="q1:ArrayOfUserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetUserAccountByIdResult" nillable="true" type="q2:ArrayOfUserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountBySignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountBySignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetUserAccountBySignInResult" nillable="true" type="q3:ArrayOfUserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountBySignIn2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="SignIn" nillable="true" type="q4:UserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccountBySignIn2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetUserAccountBySignIn2Result" nillable="true" type="q5:UserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQueryUserAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="AddUser" nillable="true" type="q6:UserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQueryUserAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="InsertQueryUserAccountResult" nillable="true" type="q7:UserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQueryUserCountById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="UpDateUser" nillable="true" type="q8:UserAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQueryUserCountByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="UpdateQueryUserCountByIdResult" nillable="true" type="q9:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="o" nillable="true" type="q10:ChangePassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDateChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="UpDateChangePasswordResult" nillable="true" type="q11:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductCategoryResult" nillable="true" type="q12:ArrayOfProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductResult" nillable="true" type="q13:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductByIdResult" nillable="true" type="q14:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductRecommentded_Menu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductRecommentded_MenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductRecommentded_MenuResult" nillable="true" type="q15:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductChicken">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductChickenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductChickenResult" nillable="true" type="q16:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductPorkResult" nillable="true" type="q17:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBeef">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBeefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductBeefResult" nillable="true" type="q18:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductFish">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductFishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductFishResult" nillable="true" type="q19:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSeaFood">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSeaFoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductSeaFoodResult" nillable="true" type="q20:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDesseat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDesseatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductDesseatResult" nillable="true" type="q21:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBeverage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBeverageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductBeverageResult" nillable="true" type="q22:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsPromotion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsPromotionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductsPromotionResult" nillable="true" type="q23:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="Param" nillable="true" type="q24:GetProductParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductsByCategoryResult" nillable="true" type="q25:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailByProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailByProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductDetailByProductResult" nillable="true" type="q26:ArrayOfProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductImageByProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductImageByProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductImageByProductIdResult" nillable="true" type="q27:ArrayOfProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTicketOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="AddTicketOrder" nillable="true" type="q28:TicketOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTicketOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="InsertTicketOrderResult" nillable="true" type="q29:TicketOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderStatusByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="UpDateTicketOrder" nillable="true" type="q30:TicketOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderStatusByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="UpdateOrderStatusByOrderIdResult" nillable="true" type="q31:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="UpdateStatus" nillable="true" type="q32:TicketOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="UpdateStatusByIdResult" nillable="true" type="q33:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStatusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="CancleStatus" nillable="true" type="q34:TicketOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelStatusByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="CancelStatusByIdResult" nillable="true" type="q35:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="param" nillable="true" type="q36:TicketOrderConfirm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="ConfirmOrderResult" nillable="true" type="q37:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketOrderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketOrderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetTicketOrderByIdResult" nillable="true" type="q38:ArrayOfTicketOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetOrderDetailByOrderIdResult" nillable="true" type="q39:ArrayOfOrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProductOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="AddProductOrder" nillable="true" type="q40:ProductOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProductOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="InsertProductOrderResult" nillable="true" type="q41:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="Delete" nillable="true" type="q42:ProductOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="DeleteProductOrderResult" nillable="true" type="q43:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TicketOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetMyOrderResult" nillable="true" type="q44:ArrayOfProductOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOrderByProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="Param" nillable="true" type="q45:GetProductOrderParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductOrderByProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MobileAppsWcfService" minOccurs="0" name="GetProductOrderByProductResult" nillable="true" type="q46:ArrayOfProductOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>